/* General Styles Start */
	
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
}

p{
    font-family: Roboto;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: white;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

.pimg1, .byenfoto {
    position: relative;
    opacity: 0.60;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* 
        fixed = parallax
        scroll = normal 
    */
    background-attachment: fixed;

}





/* General Styles End */

/* Body Start */

body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

    background-color: #C2D3DA;

}

/* Background top */
.pimg1 {
    background-image: url('');
    min-height: 100%;
}	

/* Header Start */

        .navbar{
             /*background:lightblue;
             opacity: 0.4;*/
        }

                .navbar-light {
                    font-family:Poppins;
                }

                .navbar-brand {
                    font-size: 20px;
                    color: #000;
                    font-weight: bold;
                }

                .bg-dark {
                    background-color: #fcaf17;
                }

/* Header End */

/* Content Start */

        #about {
            min-height: 100%;
            margin-top: 60px;
        }

                .byenfoto {
                        top: 50%;
                        width: 100%;
                }

        #portfolio{
            min-height: 100%;
            margin-top: 60px;
        }

                /* Flip Effect Start */
                /* entire container, keeps perspective */
                .flip-container {
                        perspective: 1000;
                }
                
                /* flip the pane when hovered */
                .flip-container:hover .flipper, .flip-container.hover .flipper {
                        transform: rotateY(180deg);
                        }

                .flip-container, .front, .back {
                        width: 320px;
                        height: 480px;
                }

                /* flip speed goes here */
                .flipper {
                        transition: 1.2s;
                        transform-style: preserve-3d;

                        position: relative;
                }

                /* hide back of pane during swap */
                .front, .back {
                        backface-visibility: hidden;

                        position: absolute;
                        top: 0;
                        left: 0;
                }

                /* front pane, placed above back */
                .front {
                        z-index: 2;
                        /* for firefox 31 */
                        transform: rotateY(0deg);
                }

                /* back, initially hidden pane */
                .back {
                        transform: rotateY(180deg);
                        margin-top: 10%;
                }
                /* Flip Effect End */

        #contact {
            padding: 40px;
            color: #fff;
            min-height: 100%;
            margin-top: 60px;
        }

/* Content End */

/* Footer Start */

        footer {
            padding: 30px;

            background-color: #585A56;
        }

                .fa-camera-retro {
                    font-size: 40px;
                }

                .fa-facebook-square {
                    font-size: 40px;
                }

                .fa-codepen {
                    font-size: 40px;
                }

                #copyright-text {
                    font-size: 15px;
                }


/* Footer End */

/* Body End */